In [3]:
import time

# 크롬 브라우저 조작을 위한 드라이버
from selenium import webdriver

# 페이지 스크롤링을 위한 모듈
#from selenium.webdriver.common.keys import Keys

# 다운로드 받은 드라이버 주소
DRIVER_DIR = 'driver/chromedriver'

In [4]:
# 드라이버를 이용해 크롬 브라우저를 실행시켜 조작하기 위해 설정 
driver = webdriver.Chrome(DRIVER_DIR)

# 암묵적으로 웹 자원을 (최대) 3초 기다리기
driver.implicitly_wait(3)

In [6]:
# 목표로 하는 url의 내용을 가져온다. 
url = "http://picdeer.com/tag/outdoorumbrella"
driver.get(url)

In [11]:
# 텍스트 가져오기
item = driver.find_elements_by_css_selector('.grid-media-caption')

# BeautifulSoup으로 가져오기

In [30]:
import requests
from bs4 import BeautifulSoup

In [88]:
req = requests.get('http://picdeer.com/tag/outdoorumbrella')

In [89]:
## HTML 소스 가져오기
html = req.text

In [90]:
# HTML 소스를 python 객체로 변환
soup = BeautifulSoup(html, 'html.parser')

In [91]:
list = soup.select('a')

In [38]:
list[50]

In [92]:
data = []

for l in list:
    data.append(l.text)

In [93]:
import pandas as pd

df = pd.DataFrame(data)

In [94]:
df.head(10)

                               0
0
1                        Picdeer
2                           Home
3                       Popular
4                  Popular Users
5                 Popular Medias
6                   Popular Tags
7                         Search
8                    Statistics
9   Who is not following me back

In [95]:
df.columns = ['col']

In [85]:
df.head()

              col
0
1         Picdeer
2            Home
3        Popular
4   Popular Users

In [96]:
df = df[df.col.str.contains("\#")]

In [97]:
df.col.value_counts()

#outdoorumbrella         53
#outdoorfurniture        27
#patio                   27
#outdoordecor            26
#patiodecor              26
#patioumbrella           26
#exteriordesign          24
#homeandgarden           23
#homedecor               23
#patiolife               23
#commercialdesign        23
#commercialfurniture     23
#midcenturymodern        21
#colorful                21
#californiaumbrella      20
#vintagestyle            19
#furniture               19
#photoshoot              18
#photography             18
#loveyourshade           18
#patiodesign             17
#homedesign              16
#home                    16
#palmspringshomes        11
#palmsprings             11
#patiofurniture           9
#outdoordesign            6
#poolside                 5
#semsiye                  5
#summer                   4
                         ..
#outdoorchairs            1
#sofa                     1
#oikos365professional     1
#easterbunny              1
#theeverygirl             1
#tatil                    1
#buyfurnitureonline       1
#designerlife             1
#egghunt                  1
#furniturelovers          1
#chaiselounge             1
#fabhabitat               1
#outdoorlife              1
#springtime               1
#turnkeydesign            1
#summer2019               1
#outdoordiningroom        1
#event                    1
#fabrics                  1
#ajimgmcotai              1
#bluesky                  1
#sturdybags               1
#capetown                 1
#sugecirmezsemsiye        1
#757supports757           1
#florida                  1
#colorfulrugs             1
#homestaging              1
#stylish                  1
#artfurniture             1
Name: col, Length: 316, dtype: int64